@model Portfolio.ViewModels.ManageRole

@{
    ViewData["Title"] = "Portfolio :: Blog :: ROLES";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage Roles", "Manage")

<h2>Role Add to User</h2>

@using (Html.BeginForm("AddRoleToUser"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username: @Html.TextBoxFor(model => model.BlogRoleUserName)
    </p> 
    <p>
        Role: @Html.DropDownListFor(model => model.BlogRoleAssignment, (IEnumerable<SelectListItem>)Model.RolesToSelect, "Select..")
    </p>
    <input type="submit" value="Save"/>
}  

<h2>Get Roles for a User</h2>
@using (Html.BeginForm("GetRoles"))
{
    @Html.AntiForgeryToken()
    <p>
        Username: @Html.TextBoxFor(model => model.BlogRoleUserName)
    </p>
    <input type="submit" value="Retrieve Roles"/>
}
