@model IEnumerable<Portfolio.Models.Post>
 
@{
    ViewData["Title"] = "Portfolio :: Blog"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@using System.Security.Claims

<div id="form-log"></div> 
<div id="form"></div>
<div id="log-in-display">
    @if (User.Identity.IsAuthenticated) 
    {
        <h1>@User.Identity.Name</h1>
        if(User.IsInRole("ADMIN"))
        {
            <div id="create"><img class="icon" src="~/img/create.png"/></div>
        } 
        <form method="post" action="@Url.Action("LogOut", "Account")">
            <button type="submit"><img class="icon" src="~/img/logout.png" title="logout"/></button>
        </form>
    }
    else
    {
        <div id="log-in"><p>log in</p></div> 
    }
</div>
<div id="posts-container">


    <div id="posts">
        @if (Model.Any())  
        {
        foreach (var post in Model.OrderByDescending(p => p.Date))
            {
                <div class="post">
                    <p class="edit-id" hidden>@post.PostId</p>      
                    <h1 class="post-title">@Html.DisplayFor(model => post.Title)</h1>
                    <p class="post-date">@post.Date.ToString("MMM dd, yyyy @ h:mm t")</p>
                    <p class="post-body">@Html.DisplayFor(model => post.Content)</p>

            
                    <div class="post-bottom">             
                        @if(User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                        {
                            <div class="edit"><img class="icon" src="~/img/edit.png" title="edit"/></div>
                            <div class="delete"><img class="icon" src="~/img/bin.png" title="delete"/></div>  
                        }
                        <div class="link"><a href='@Url.Action("Entry", new { id = @post.PostId})'><img class="icon" src="~/img/link.png" title="permalink" onclick="location.href"/></a></div> 
                        <div class="comment-add"><img class="icon" src="~/img/comment.png" title="Comments"/></div>
                            @if(post.Comments.Any())
                            {
                                <div class="toggle-comment">
                                    <div class="see-comment"><p>(@post.Comments.Count)</p></div> 
                                    <div class="hide-comment"><img class="icon" src="~/img/hide.png" title="hide comments"/></div> 
                                </div>
                                <div class="comments">
                                @foreach ( var comment in @post.Comments) 
                                {
                                  <div class="individual-c">
                                        @if (@comment.Author == null)
                                        {
                                            <h3>anonymous</h3>
                                        }
                                        else
                                        {
                                            <h3>@comment.Author</h3>
                                        }
                                        <p>@comment.Date.ToString("MMM dd, yyyy @ h:mm t")</p>
                                        <p>@comment.Content</p>
                                  </div>
                                } 
                              </div>
                            }
                     </div>
                </div> 
            } 
        }
        else
        {
            <p><em>No posts yet.</em></p>
        }
    </div> 
      
</div>
