<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/master.css"> 
</head>
<body>
        
    <div>
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Blog", "Index", "Post")
        @Html.ActionLink("Log In", "Index", "Account")
        <a href="#about">Work</a>
        <a href="#contact">Contact</a>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
 